<div id="image-loader" style="display: none;">
     <img src="/images/bx_loader.gif"/>
</div>
<div class="row-fluid">
    <ul id="gallery" class="gallery">
    {% for entity in galerias %}
         <li id="registro-{{entity.id}}" class="galeria-item-li">    
         {% include "PublicacionesBundle:Galerias:item.html.twig" with { 'galeria': entity } %}
         </li><!--/span-->        
    {% else %}
        Sin registros
    {% endfor %}
   </ul>     
</div>

