.main-nav{
    border-top: 1px solid rgb(0,37,67);
    border-bottom: 1px solid rgb(0,37,67);
}			


.main-nav ul {
    width: 100%;
    padding-left: 19%;
    float: right;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: -1;

}

.main-nav li {
    float: left;
    height: 71px;
    width: 14.28%;
    list-style: none;
}

.main-nav a {
    font-size: 16px;
    font-weight: normal;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 71px;
    height: 71px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;

    border-bottom: 1px solid #053c68;
    display: block;
    width: 100%;
}
.main-nav a span {
    position: relative;
    display: inline-block;
    border-left: 1px solid #053c68;
    -webkit-transition: -webkit-transform 0.4s ease;
    -moz-transition: -moz-transform 0.4s ease;
    -o-transition: -o-transform 0.4s ease;
    -ms-transition: -ms-transform 0.4s ease;
    transition: transform 0.4s ease;

    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 100%;

    background: #0b2f4b;
}
.main-nav a span:before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00172a;
    content: attr(data-hover);
    -webkit-transition: background 0.4s ease;
    -moz-transition: background 0.4s ease;
    -o-transition: background 0.4s ease;
    -ms-transition: background 0.4s ease;
    transition: background 0.4s ease;
    -webkit-transform: rotatex(-90deg);
    -moz-transform: rotatex(-90deg);
    -o-transform: rotatex(-90deg);
    -ms-transform: rotatex(-90deg);
    transform: rotatex(-90deg);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    border-left: 1px solid #053c68;
}
.main-nav a:hover span,
.main-nav a:focus span,
.main-nav a.current span {
    -webkit-transform: rotatex(90deg) translatey(-35px);
    -moz-transform: rotatex(90deg) translatey(-35px);
    transform: rotatex(90deg) translatey(-35px);
    z-index: 99;
}

.main-nav a:hover span,
.main-nav a:focus span,
.main-nav a.current span {
    background: #00172a;
    /*background: rgb(0,37,67);*/
}

/* Back to top */

.totop {
    position: fixed;
    bottom: 0px;
    right: 20px;
    z-index: 104400;
    background: #222;
    background: rgba(0, 0, 0, 0.75);
}

.totop a, .totop a:visited{
    display: block;
    width: 50px;
    height: 50px;
    color: #fff;
    text-align: center;
    line-height: 50px;
}

.totop a:hover {
    color: #eee;
    text-decoration: none;
}

span.precio{
    background: -webkit-linear-gradient(#27a8eb,#1e7bab);
    background: -moz-linear-gradient(#27a8eb,#1e7bab);
    background: linear-gradient(#27a8eb,#1e7bab);    
}
