{% extends 'FrontendBundle::layout.html.twig' %}

{% block stylesheets %}
    {{  parent()  }}

{% endblock %}

{% block contenido %}
            <div class="cotizador-promociones">
                <div class="cotizador-linea">
                    Visite nuestro cotizador en linea
                </div>
                <div class="newsletter">
                    Reciba ofertas y promociones en su correo
                    <span class="newsletter-correo"></span>
                </div>
            </div>
            <article class="destinos-eventos row">
                <div class="destinos col-lg-6">
                    <span class="titulo">DESTINOS</span>
                    <ul>
                        <li class="active">
                            <figure>
                                <img src="http://placehold.it/508x256&text=Destinos1" alt="">
                                <figcaption>
                                    PUERTO VALLARTA, JALISCO
                                </figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="http://placehold.it/508x256&text=Destinos2" alt="">
                                <figcaption>
                                    ACAPULCO, GUERRERO
                                </figcaption>
                            </figure>
                        </li>
                        <li>    
                            <figure>
                                <img src="http://placehold.it/508x256&text=Destinos3" alt="">
                                <figcaption>
                                    DESTINO NUMERO TRES, EN ALGUN LUGAR
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
                <div class="eventos">
                    <span class="titulo">EVENTOS</span>
                    <ul>
                        <li class="active">
                            <figure>
                                <img src="http://placehold.it/508x256&text=Eventos1" alt="">
                                <figcaption>
                                    EVENTO 1, JALISCO
                                </figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="http://placehold.it/508x256&text=Eventos2" alt="">
                                <figcaption>
                                    EVENTO 2, GUERRERO
                                </figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="http://placehold.it/508x256&text=Eventos3" alt="">
                                <figcaption>
                                    EVENTO 3, DISTRITO FEDERAL
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
            </article>
            <article class="twitters">
                <ul class="twitter-feed">
                    {% for number in range(1,10) %}
                    <li class="twit">
                        <figure class="logo-twit">
                            <img src="images/keyarts/inicio/logomenu.png" alt=""/>
                        </figure>
                        <h3 class="titulo-twit">TurismoPlusMG</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae itaque quasi error totam commodi aperiam libero temporibus ut animi recusandae vitae cumque pariatur ipsum! Eos est ab magnam cupiditate illum.
                            <a href="#">#Trabajo</a>
                        </p>
                        <span class="time-twit">
                            <i class="fa fa-twitter"></i>{{number}} Hours ago
                        </span>
                    </li>
                    {% endfor %}
                </ul>
                <div class="experiencias">
                    <span class="titulo-experiencias">Experiencias MG</span>
                    <div class="contenedor-experiencias">
                        {% for number in range(1,3) %}
                        <div class="experiencia {% if number == 1 %} active {% endif %}">
                            <p class="contenido-experiencia">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus quod quibusdam nostrum dolore explicabo excepturi sint cum laudantium deleniti quia atque vero nemo dicta non porro illo harum molestias quos.    
                            </p>
                            <span class="autor-experiencia">
                                -Escuela Normal No. {{number}} Nezahualcoyotl
                            </span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </article>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
    $(document).on("ready",function(){
        setTimeout(function(){
            iniciarCircle();
            iniciarDestinos();
            iniciarEventos();
        },6000);
    });
    var iniciarCircle=function(){
        $('ul.twitter-feed li:first-child').slideUp("slow",function(){
            $('ul.twitter-feed').append($(this).slideDown("fast"));
        });
                 
        setTimeout(function(){
            iniciarCircle();
        },6000);
                    
    }
    var iniciarDestinos=function(){
        var destinos = $(".destinos ul");
        var primero = destinos.find('li:first-child');
        var segundo = primero.next();
        segundo.addClass("active").fadeIn("slow",function(){
            primero.removeClass("active");
            destinos.append(primero);
        });
                 
        setTimeout(function(){
            iniciarDestinos();
        },6000);
                    
    }
    var iniciarEventos=function(){
        var eventos = $(".eventos ul");
        var primero = eventos.find('li:first-child');
        var segundo = primero.next();
        segundo.addClass("active").fadeIn("slow",function(){
            primero.removeClass("active");
            eventos.append(primero);
        });
                 
        setTimeout(function(){
            iniciarEventos();
        },6000);
                    
    }
    </script>
{% endblock %}

